/* colors */
/* main */
html {
  color: #25291C;
  font-family: "PT Serif", Georgia, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

body {
  margin: 1em; }
  body > header,
  body > main,
  body > footer,
  body > article {
    max-width: 666px;
    margin: 0 auto; }
  body > header {
    margin-bottom: 3em;
    text-align: center; }

a:hover,
a:focus, a:visited:hover {
  color: #3000c1;
  -webkit-transition: color 0ms;
          transition: color 0ms; }

header p {
  font-size: 18px; }

section {
  margin-bottom: 4em; }

nav {
  margin: 2em 0; }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin: 0 5px; }

a {
  color: #0064C1;
  text-decoration: none;
  -webkit-transition: color 300ms;
          transition: color 300ms; }
  a:visited {
    color: #6d00c1; }

h1 {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: #070600;
  font-size: 4em;
  font-weight: 400;
  line-height: 1.2; }

h2 {
  margin-bottom: .5em;
  font-weight: 400;
  font-size: 2.1em; }

pre {
  margin: 0; }

code {
  display: block;
  padding: 10px 15px;
  background: #f2f2f2;
  border: 1px solid #E8E8E8;
  border-radius: 1px;
  font-family: Consolas, Courier, monospace; }

p {
  margin: .5em 0;
  color: #111; }
