/* colors */
$headers-color: #25291C;
$accent-color: #070600;
$text-color: #111;
$disable-color: #7D7D77;
$invisible-color: #A3A39B;
$border-color: #E8E8E8;
$link-color: #0064C1;
$link-hover-color: #3000c1;
$link-visited-color: #6d00c1;

/* sizes */
$content-size: 666px;

/* placeholders */
%links-hover {
	color: $link-hover-color;
	
	transition: color 0ms;
}

%inputs-buttons {
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: .3em .5em;
	
	border: 1px solid darken($border-color, 20);
	outline: none;

	font-size: 1em;
	font-family: inherit;
	
	transition: border 200ms;
}

%inputs {
	@extend %inputs-buttons;

	display: block;
	width: 100%;
	
	&:focus {
		border: 1px solid darken($border-color, 50);
	}
}

%buttons {
	@extend %inputs-buttons;
	
	display: inline-block;
	
	width: auto;
	margin-bottom: 0;
	
	border-radius: 2px;
	background: $border-color;
	
	color: $headers-color;

	cursor: pointer;
	
	&:focus, &:hover {
		border: 1px solid darken($border-color, 50);
		background: darken($border-color, 15);
		
		color: $accent-color;
	}
}

%code {
	background: #f2f2f2;
	border: 1px solid $border-color;
	border-radius: 1px;
	
	font-family: Consolas, Courier, monospace;
}

/* main */
html {
	color: $text-color;
	font-family: "PT Serif", Georgia, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	margin: 1em;
	
	> header,
	> main,
	> footer,
	> article {
		display: block;
		position: relative;
		max-width: $content-size;
		margin: 0 auto;
	}

	> header {
		margin-bottom: 2.5em;
		
		text-align: center;
	}

	> footer {
		margin-top: 4em;
		
		color: $invisible-color;
		font-size: 0.9em;
		text-align: center;
	}
}

header {
	p {
		font-size: 18px;
	}
}

section, article {
	margin-bottom: 4em;
}

address {
	font-style: normal;
}

nav {
	margin: 2em 0;
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			display: inline-block;
			margin: 0 5px;
			
			color: $disable-color;
		}
	}

	a:visited {
		color: $link-color;
	}
}

aside {
	position: absolute;
	right: -200px;
	max-width: 150px;
	padding-right: 1em;
	
	color: $disable-color;
	font-style: italic;
	
	@media (max-width: $content-size + 200px * 2) {
		position: relative;
		right: auto;
		max-width: none;
		padding: 0;
	}
}

a {
	color: $link-color;
	text-decoration: none;
	
	transition: color 300ms;

	&:hover,
	&:focus {
		@extend %links-hover;
	}

	&:visited {
		color: $link-visited-color;
		
		&:hover {
			@extend %links-hover;
		}
	}
}

h1 {
	margin-top: 0.5em;
	margin-bottom: 0;
	  
	color: $accent-color;
	font-size: 4em;
	font-weight: 400;
	line-height: 1.2;
}

h2 {
	margin-top: .8em;
	margin-bottom: .5em;
	
	color: $headers-color;
	font-weight: 400;
	font-size: 2.1em;
}

h3 {
	margin-top: 1.2em;
	margin-bottom: .5em;
	
	color: $headers-color;
	font-size: 1.4em;
	font-weight: 400;
}

h4 {
	margin: 0 0 .5em;
	
	color: darken($disable-color, 10);
	font-size: 1em;
}

form {
	max-width: 300px;
	padding: 12px 10px;
	margin: 0 auto;
}

fieldset {
	border: 1px solid darken($border-color, 10);
} 

legend {
	color: $disable-color;
} 

label {
	display: block;
}

input {
	&[type=text],
	&[type^=date],
	&[type=email],
	&[type=number],
	&[type=search],
	&[type=tel],
	&[type=time],
	&[type=month], 
	&[type=week], 
	&[type=url] {
		@extend %inputs;
	}

	&[type=submit],
	&[type=button],
	&[type=reset] {
		@extend %buttons;
	}

	&[type=file] {
		@extend %buttons;
		
		display: block;
		margin-bottom: 20px;
	}

	&[type=color] {
		@extend %buttons;
		
		display: block;
		width: 4em;
		height: 2em;
		margin-bottom: 20px;
	}
}

button {
	@extend %buttons;
}

select {
	@extend %buttons;
	
	display: block;
	margin-bottom: 20px;
}

textarea {
	@extend %inputs;
}

pre {
	@extend %code;

	margin: 0;
	
	> code {
		display: block;
		padding: 10px 15px;

		overflow: auto;

		// for compatibility with syntax highlighters
		background: transparent;
		border: none;
	}
}

code {
	@extend %code;
	
	padding: 0.06250em 0.31250em;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

p {
	margin: .5em 0;
	
	img {
		margin: .3em 0 .3em .5em;
		float: right;
		border: 1px solid $border-color;
	}
}

figure {
	box-sizing: border-box;
	display: inline-block;
	padding: 6px 22px;
	margin: .5em 0;
	
	border: 1px solid $border-color;
	border-radius: 1px;
	
	img {
		max-width: 100%;
		margin: 10px 0 15px;
		
		+ figcaption {
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	figcaption {
		font-style: italic;
		text-align: center;
		margin-top: 10px;
		
		+ img {
			margin: 15px 0 10px;
		}
	}
}

dl {
	margin: 1em 0 1.5em;
	
	dt {
		font-weight: 700;
	}

	dd {
		margin-bottom: 1em;
	}
}

details {
	display: block;
	padding: 0 .5em 0;
	margin: 20px 0;
	
	border: 1px solid $border-color;
	border-radius: 1px;
	background-color: #fafafa;
	
	summary {
		display: block;
		padding: 0 .5em .1em;
		margin: 0 -.5em 0;
		
		background-color: white;
		outline: none;
		
		font-weight: 700;
	} 
}

table {
	width: 100%;
	
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid $border-color;
	
	text-align: left;
	
	caption {
		font-style: italic;
		margin-bottom: 0.3em;
	}
	
	thead {
		background: $border-color;
	}

	%td-th {
		padding: .3em .7em;
		border: 1px solid $border-color;
		
		vertical-align: top;
	}

	td {
		@extend %td-th;
	}

	th {
		@extend %td-th;
		
		border: 1px solid darken($border-color, 10);
	}

	tr {
		&:nth-child(even) td {
			background: lighten($border-color, 6);
		}
	}
}

abbr {
	font-size: .875em;
	letter-spacing: .15em;
	margin-right: -0.15em;
}

dfn {
	letter-spacing: 0.05em;
}

del {
	color: $disable-color;
}

ins {
	text-decoration: none;
	background: lighten($disable-color, 45);
}

mark {
	background: #ffeab9;
}

hr {
	margin: 25px 0;
	border: 1px solid rgba($border-color, .7);
	border-bottom: none;
} 

var {
	font-family: monospace;
	font-style: normal;
}

audio {
	width: 100%; 
	margin: 10px 0 15px;
}

video {
	max-width: 100%;
	width: 100%;
	margin: 10px 0 15px;
}

noscript {
	color: #d00000;
}

kbd {
	display: inline-block;
	padding: 0 .6ex;
	margin: 0 0.4ex;
	
	background: lighten($invisible-color, 35);
	border-radius: 5px;
	box-shadow: 0 1px $border-color;
}

output {
	display: block;
}