@import 'mixins';
@import 'variables';

html {
	color: color('text');
	font-family: "PT Serif", Georgia, sans-serif;
	font-size: 16px; // fallback
	font-size: calc(16px + 0.25vw);
	line-height: 1.5;
}

body {
	margin: 1em;
	
	> header,
	> main,
	> footer,
	> article {
		position: relative;

		display: block;
		max-width: $content-size;
		margin: 0 auto;
	}

	> header {
		margin-bottom: 2.5em;
		
		text-align: center;
	}

	> footer {
		margin-top: 4em;
		
		color: color('invisible');
		font-size: 0.9rem;
		text-align: center;
	}
}

header {
	p {
		font-size: 1.125rem;
	}
}

section, article {
	margin-bottom: 4em;
}

address {
	font-style: normal;
}

aside {
	$side: 200px;
	$width: $side * 3/4;
	
	position: absolute;
	right: -$side;
	
	max-width: $width;
	padding-right: 1em;
	
	color: color('disabled');
	font-style: italic;
	
	@media (max-width: $content-size + $side * 2) {
		position: relative;
		right: auto;
		
		max-width: none;
		padding: 0;
	}
}

a {
	color: color('link');
	text-decoration: none;
	
	transition: color 300ms;

	&:visited {
		color: color('link-visited');
	}

	&:hover,
	&:focus {
		color: color('link-hover');
			
		transition: color 0ms;
	}
}

nav {
	margin: 2em 0;
	
	ul {
		padding: 0;
		margin: 0;
		
		list-style: none;
		
		li {
			display: inline-block;
			margin: 0 5px;
			
			color: color('disabled');
		}
	}

	a {
		&:visited {
			color: color('link');
		}

		&:hover,
		&:focus {
			color: color('link-hover');
		}
	}
}

h1 {
	margin-top: 0.5em;
	margin-bottom: 0;
	  
	color: color('accent');
	font-size: 4rem;
	font-weight: 400;
	line-height: 1.2;
}

h2 {
	margin-top: .8em;
	margin-bottom: .5em;
	
	color: color('headers');
	font-weight: 400;
	font-size: 2.1rem;
}

h3 {
	margin-top: 1.2em;
	margin-bottom: .5em;
	
	color: color('headers');
	font-size: 1.4rem;
	font-weight: 400;
}

h4 {
	margin: 0 0 .5em;
	
	color: darken(color('disabled'), 10);
	font-size: 1rem;
}

form {
	max-width: 400px;
	padding: 12px 10px;
	margin: 0 auto;
}

fieldset {
	border: 1px solid darken(color('border'), 10);
	
	> p {
		margin-top: 0;
	}

	p + p {
		margin-bottom: 0.75em;
	}
} 

legend {
	color: color('disabled');
} 

button {
	@include buttons;
}

select {
	@include buttons;
	
	display: block;
}

input {
	&[type=text],
	&[type^=date],
	&[type=email],
	&[type=number],
	&[type=search],
	&[type=tel],
	&[type=time],
	&[type=month], 
	&[type=week], 
	&[type=url] {
		@include inputs;
		
		display: block;
	}

	&[type=submit],
	&[type=button],
	&[type=reset] {
		@include buttons;
		
		-webkit-appearance: none;
	}

	&[type=color],
	&[type=file] {
		@include buttons;
		
		display: block;
	}

	&[type=color] {
		width: 4em;
		height: 2em;
	}

	&[type=file] {
		width: 100%;
	} 
}

textarea {
	@include inputs;
}

pre {
	@include code;

	margin: 0;
	
	> code {
		display: block;
		padding: 10px 15px;

		-webkit-overflow-scrolling: touch;
		overflow-x: auto;

		// for compatibility with syntax highlighters
		background: transparent;
		border: none; 
	}
}

code {
	@include code;
	
	padding: 0.06250em 0.31250em;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

p {
	margin: .5em 0;
	
	img {
		float: right;
		margin: .3em 0 .3em .5em;
		
		border: 1px solid color('border');
	}
}

figure {
	box-sizing: border-box;
	display: inline-block;
	padding: 6px 22px;
	margin: .5em 0;
	
	border: 1px solid color('border');
	border-radius: 1px;
	
	img {
		max-width: 100%;
		margin: 10px 0 15px;
		
		+ figcaption {
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	figcaption {
		margin-top: 10px;
		
		font-style: italic;
		text-align: center;
		
		+ img {
			margin: 15px 0 10px;
		}
	}
}

dl {
	margin: 1em 0 1.5em;
	
	dt {
		font-weight: 700;
	}

	dd {
		margin-bottom: 1em;
	}
}

details {
	display: block;
	padding: 0 .5em 0;
	margin: 20px 0;
	
	border: 1px solid color('border');
	border-radius: 1px;
	background-color: #fafafa;
	
	summary {
		display: block;
		padding: 0 .5em .1em;
		margin: 0 -.5em 0;
		
		background-color: white;
		outline: none;
		
		font-weight: 700;
		
		cursor: pointer;
	} 
}

/*
 * CSS only Responsive Tables
 * http://dbushell.com/2016/03/04/css-only-responsive-tables/
 * by David Bushell
*/
table {
	-webkit-overflow-scrolling: touch;
 
	display: inline-block;
	max-width: 100%;
	width: 100%;
	overflow-x: auto;
	vertical-align: top;
	
	background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
				radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
	background-size: 10px 100%, 10px 100%;
	background-attachment: scroll, scroll;
	background-repeat: no-repeat;
	
	border-spacing: 0;
	border-collapse: collapse;

	text-align: left;
	
	caption {
		padding: 0.5em 0;
		
		background: #fff;
		
		font-style: italic;
	}
	
	thead {
		background: color('border');
	}

	%td-th {
		padding: .3em .7em;
		border: 1px solid color('border');
		
		vertical-align: top;
	}

	td {
		@extend %td-th;
		
		&:first-child {
			background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
			background-size: 20px 100%;
			background-repeat: no-repeat;
		}

		&:last-child {
			background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
			background-position: 100% 0;
			background-size: 20px 100%;
			background-repeat: no-repeat;
		}
	}

	th {
		@extend %td-th;
		
		border: 1px solid darken(color('border'), 10);
	}
}

abbr {
	margin-right: -0.15em;
	
	font-size: .875rem;
	letter-spacing: .15em;
}

dfn {
	letter-spacing: 0.05em;
}

del {
	color: color('disabled');
}

ins {
	background: lighten(color('disabled'), 45);

	text-decoration: none;
}

mark {
	background: #ffeab9;
}

hr {
	margin: 25px 0;
	
	border: 1px solid rgba(color('border'), .7);
	border-bottom: none;
} 

var {
	font-family: monospace;
	font-style: normal;
}

audio {
	width: 100%; 
	margin: 10px 0 15px;
}

video {
	max-width: 100%;
	width: 100%;
	margin: 10px 0 15px;
}

noscript {
	color: #d00000;
}

kbd {
	display: inline-block;
	padding: 0 .6ex;
	margin: 0 0.4ex;
	
	background: lighten(color('invisible'), 35);
	border-radius: 5px;
	box-shadow: 0 1px color('border');
}

output {
	display: block;
}