/* colors */
$main-color: #25291C;
$accent-color: #070600;
$text-color: #111;
$disable-color: #7D7D77;
$border-color: #E8E8E8;

/* sizes */
$content-size: 666px;

/* main */
html {
	color: $main-color;
	font-family: "PT Serif", Georgia, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	margin: 1em;
	
	> header,
	> main,
	> footer,
	> article {
		display: block;
		position: relative;
		max-width: $content-size;
		margin: 0 auto;
	}

	> header {
		margin-bottom: 2.5em;
		
		text-align: center;
	}

	> footer {
		margin-top: 4em;
		
		color: #A3A39B;
		font-size: 0.9em;
		text-align: center;
	}
}

%links-hover {
	color: #3000c1;
	
	transition: color 0ms;
}

header {
	p {
		font-size: 18px;
	}
}

section, article {
	margin-bottom: 4em;
}

address {
	font-style: normal;
}

nav {
	margin: 2em 0;
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			display: inline-block;
			margin: 0 5px;
			
			color: $disable-color;
		}
	}
}

aside {
	position: absolute;
	right: -200px;
	max-width: 150px;
	padding-right: 1em;
	
	color: $disable-color;
	font-style: italic;
	
	@media (max-width: $content-size + 200px * 2) {
		position: relative;
		right: auto;
		max-width: none;
		padding: 0;
	}
}

a {
	color: #0064C1;
	text-decoration: none;
	
	transition: color 300ms;

	&:hover,
	&:focus {
		@extend %links-hover;
	}

	&:visited {
		color: #6d00c1;
		
		&:hover {
			@extend %links-hover;
		}
	}
}

h1 {
	margin-top: 0.5em;
	margin-bottom: 0;
	  
	color: $accent-color;
	font-size: 4em;
	font-weight: 400;
	line-height: 1.2;
}

h2 {
	margin-top: .8em;
	margin-bottom: .5em;
	
	font-weight: 400;
	font-size: 2.1em;
}

h3 {
	margin-top: 1.2em;
	margin-bottom: .5em;
	
	font-size: 1.4em;
	font-weight: 400;
}

pre {
	margin: 0;
	
	> code {
		display: block;
		padding: 10px 15px;
		
		overflow: auto;
	}
}

code {
	padding: 0.06250em 0.31250em;
	background: #f2f2f2;
	border: 1px solid $border-color;
	border-radius: 1px;
	
	font-family: Consolas, Courier, monospace;
}

p {
	margin: .5em 0;
	color: $text-color;
}

figure {
	display: inline-block;
	padding: 6px 22px;
	margin: .5em 0;
	
	border: 1px solid $border-color;
	border-radius: 1px;
	
	img {
		max-width: 100%;
		margin: 10px 0 15px;
		
		+ figcaption {
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	figcaption {
		font-style: italic;
		text-align: center;
		margin-top: 10px;
		
		+ img {
			margin: 15px 0 10px;
		}
	}
}

ul, ol {
	padding-left: 0;
}