/* colors */
/* sizes */
/* main */
html {
  color: #111;
  font-family: "PT Serif", Georgia, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

body {
  margin: 1em; }
  body > header,
  body > main,
  body > footer,
  body > article {
    display: block;
    position: relative;
    max-width: 666px;
    margin: 0 auto; }
  body > header {
    margin-bottom: 2.5em;
    text-align: center; }
  body > footer {
    margin-top: 4em;
    color: #A3A39B;
    font-size: 0.9em;
    text-align: center; }

a:hover,
a:focus, a:visited:hover {
  color: #3000c1;
  -webkit-transition: color 0ms;
          transition: color 0ms; }

header p {
  font-size: 18px; }

section, article {
  margin-bottom: 4em; }

address {
  font-style: normal; }

nav {
  margin: 2em 0; }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin: 0 5px;
      color: #7D7D77; }
  nav a:visited {
    color: #0064C1; }

aside {
  position: absolute;
  right: -200px;
  max-width: 150px;
  padding-right: 1em;
  color: #7D7D77;
  font-style: italic; }
  @media (max-width: 1066px) {
    aside {
      position: relative;
      right: auto;
      max-width: none;
      padding: 0; } }

a {
  color: #0064C1;
  text-decoration: none;
  -webkit-transition: color 300ms;
          transition: color 300ms; }
  a:visited {
    color: #6d00c1; }

h1 {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: #070600;
  font-size: 4em;
  font-weight: 400;
  line-height: 1.2; }

h2 {
  margin-top: .8em;
  margin-bottom: .5em;
  color: #25291C;
  font-weight: 400;
  font-size: 2.1em; }

h3 {
  margin-top: 1.2em;
  margin-bottom: .5em;
  color: #25291C;
  font-size: 1.4em;
  font-weight: 400; }

h4 {
  margin: 0 0 0.5em;
  color: #63635e;
  font-size: 1em; }

form {
  max-width: 300px;
  padding: 12px 10px;
  margin: 0 auto; }

fieldset {
  border: 1px solid #cfcfcf; }

legend {
  color: #7D7D77; }

label {
  display: block; }

input, textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0.3em 0.5em;
  border: 1px solid #b5b5b5;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  -webkit-transition: border 200ms;
          transition: border 200ms; }
  input:focus, textarea:focus {
    border: 1px solid dimgray; }

input[type=submit] {
  width: auto;
  margin-bottom: 0;
  border-radius: 2px;
  background: #E8E8E8;
  color: #25291C;
  cursor: pointer; }
  input[type=submit]:focus, input[type=submit]:hover {
    border: 1px solid dimgray;
    background: #c2c2c2;
    color: #070600; }

pre {
  margin: 0; }
  pre > code {
    display: block;
    padding: 10px 15px;
    overflow: auto; }

code {
  padding: 0.0625em 0.3125em;
  background: #f2f2f2;
  border: 1px solid #E8E8E8;
  border-radius: 1px;
  font-family: Consolas, Courier, monospace; }

img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

p {
  margin: .5em 0; }
  p img {
    margin: 0.3em 0 0.3em 0.5em;
    float: right;
    border: 1px solid #E8E8E8; }

figure {
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 22px;
  margin: .5em 0;
  border: 1px solid #E8E8E8;
  border-radius: 1px; }
  figure img {
    max-width: 100%;
    margin: 10px 0 15px; }
    figure img + figcaption {
      margin-top: 0;
      margin-bottom: 10px; }
  figure figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 10px; }
    figure figcaption + img {
      margin: 15px 0 10px; }

dl {
  margin: 1em 0 1.5em; }
  dl dt {
    font-weight: 700; }
  dl dd {
    margin-bottom: 1em; }

details {
  display: block;
  padding: 0 0.5em 0;
  border: 1px solid #E8E8E8;
  border-radius: 1px;
  background-color: #fafafa; }
  details summary {
    display: block;
    padding: 0 0.5em 0.1em;
    margin: 0 -0.5em 0;
    background-color: white;
    outline: none;
    font-weight: 700; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #E8E8E8;
  text-align: left; }
  table caption {
    font-style: italic;
    margin-bottom: 0.3em; }
  table thead {
    background: #E8E8E8; }
  table td, table th {
    padding: 0.3em 0.7em;
    border: 1px solid #E8E8E8;
    vertical-align: top; }
  table th {
    border: 1px solid #cfcfcf; }
  table tr:nth-child(even) td {
    background: #f7f7f7; }

abbr {
  font-size: .875em;
  letter-spacing: .15em;
  margin-right: -0.15em; }

dfn {
  letter-spacing: 0.05em; }

del {
  color: #7D7D77; }

ins {
  text-decoration: none;
  background: #ededec; }

mark {
  background: #ffeab9; }

hr {
  margin: 25px 0;
  border: 1px solid rgba(232, 232, 232, 0.7);
  border-bottom: none; }

var {
  font-family: monospace;
  font-style: normal; }
